<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h3>Home page</h3>
    <a href="/employee/newemp">New Employee</a><br>
    <a href="/employee/editemp">Edit Employee</a><br>
    <a href="/employee/dltemp">Delete Employee</a><br>
    <a href="/employee/viewemp">View  Employee</a><br>
    <a href="/employee/srchemp">Search  Employee</a>

</body>
</html>